@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_colors.scss";
@import "./_easings.scss";
@import "./_functions.scss";
// @import './_layout.scss';
@import "./_utils.scss";
// @import './_themes.scss';
@import "./_scroll.scss";

:root {
  --font-grandstander: Grandstander;
}

html {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  // scrollbar-width: thin;
  @extend .noSelect;
}

html,
body {
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

// *::selection {
//   background-color: var(--caribbean-green);
//   color: var(--kuretake-black-manga);
// }

main {
  overflow: hidden;
  position: relative;
  z-index: z-index("main");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

sup {
  font-size: xx-small;
  vertical-align: super;
}

// Be sure markers on top
.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  z-index: z-index("gsap-markers") !important;
}

.input-required {
  // box-shadow: var(--error) 0px 0px 0px 1px;
  color: var(--error) !important;
  transition: 400ms all ease;

  * {
    color: var(--error) !important;
    transition: 400ms all ease;
  }
}
