.searchbox {
  @include dims(desktop-vw(460px), desktop-vw(45px));

  @include mobile {
    @include dims(100%, mobile-vw(45px));
    margin-bottom: mobile-vw(14px);
  }

  .field {
    --input-padding: #{desktop-vw(40px)};
    @include dims(100%);
    column-gap: desktop-vw(8px);
    display: flex;
    position: relative;

    @include mobile {
      --input-padding: #{mobile-vw(40px)};
      column-gap: mobile-vw(8px);
    }

    .inputC {
      border: 1px solid var(--duqqa-brown);
      border-radius: desktop-vw(11px);
      flex: 1;
      position: relative;
      transition: 300ms all ease;

      @include mobile {
        border-radius: mobile-vw(8px);
      }

      .input {
        @include dims(100%);
        border-radius: desktop-vw(11px);
        color: var(--duqqa-brown);
        font-family: var(--font-grandstander);
        font-size: desktop-vw(20px);
        font-weight: 500;
        padding: 0 var(--input-padding);

        @include mobile {
          border-radius: mobile-vw(11px);
          font-size: mobile-vw(16px);
          padding: 0 var(--input-padding);
        }

        &::placeholder {
          transform: translateY(desktop-vw(1px));
          transition: 400ms all ease;

          @include mobile {
            transform: translateY(mobile-vw(1px));
          }
        }

        &:focus {
          &::placeholder {
            opacity: 0.3;
          }
        }
      }

      &.disabled {
        opacity: 0.1;
        pointer-events: none;
      }
    }

    .iconC {
      @include position(absolute, 50%, auto, auto, desktop-vw(16px));
      @include dims(desktop-vw(14px));
      transform: translateY(-50%);

      @include mobile {
        @include position(absolute, 50%, auto, auto, mobile-vw(16px));
        @include dims(mobile-vw(14px));
      }
    }
  }
}
