.button {
  font-family: var(--font-grandstander);
  font-weight: 600;
  overflow: hidden;
  position: relative;

  &.light {
    background: var(--toasted-marshmallow-fluff);
    border-color: var(--duqqa-brown);
    border-style: solid;
    color: var(--duqqa-brown);
  }

  &.dark {
    background: var(--duqqa-brown);
    border-color: var(--toasted-marshmallow-fluff);
    border-style: solid;
    color: var(--toasted-marshmallow-fluff);
    transition: 400ms all ease;

    // @include hover {
    //   &:hover {
    //     color: var(--duqqa-brown);
    //   }
    // }
  }

  &.sm {
    border-width: 2px;
    font-size: desktop-vw(16px);
    padding: desktop-vw(12px) desktop-vw(20px);

    @include mobile {
      font-size: mobile-vw(16px);
      padding: mobile-vw(12px) mobile-vw(20px);
    }
  }

  &.md {
    border-width: 2px;
    border-radius: desktop-vw(10px);
    font-size: desktop-vw(20px);
    padding: desktop-vw(11px) desktop-vw(20px);

    @include mobile {
      border-radius: mobile-vw(10px);
      font-size: mobile-vw(20px);
      padding: mobile-vw(11px) mobile-vw(20px);
    }
  }

  &.lg {
    border-width: 4px;
    border-radius: desktop-vw(20px);
    font-size: desktop-vw(45px);
    padding: desktop-vw(22px) desktop-vw(160px);

    @include mobile {
      border-width: 2px;
      border-radius: mobile-vw(10px);
      font-size: mobile-vw(20px);
      padding: mobile-vw(11px) mobile-vw(20px);
    }
  }

  .text {
    display: block;
    position: relative;
    transform: translateY(10%);
    z-index: 20;
  }

  .dotC {
    @include position(absolute, 0, auto, auto, 0);
    @include dims(1px);

    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
      $dims: 15px;
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims($dims);
      background: var(--pale-marigold);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: 300ms height ease-in-out, 300ms width ease-in-out, 100ms opacity ease-in-out;
      z-index: 10;
    }
  }
}
