.figure {
  @include dims(100%);
  position: relative;

  .vid {
    @include dims(100%);
    display: block;
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
  }
}
