.home {
  .hero {
    @include dims(100%, calc(100vh - var(--header-height)));
    background: url("../../assets/img/wave.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    position: relative;
    z-index: 50;

    h1 {
      color: var(--duqqa-brown);
      font-size: desktop-vw(150px);
      font-family: var(--font-grandstander);
      font-weight: 900;
      margin-bottom: desktop-vw(75px);
      margin-top: desktop-vw(-100px);
      position: relative;
      text-align: center;

      > span {
        display: block;
        position: relative;

        &.imgC {
          @include dims(desktop-vw(360px));
          @include position(absolute, 50%, auto, auto, 50%);
          pointer-events: none;
          transform: translate(-50%, -10%);
        }

        &:nth-child(1) {
          margin-bottom: desktop-vw(40px);
          z-index: 10;
        }

        &:nth-child(2) {
          z-index: 20;
        }

        &:nth-child(3) {
          z-index: 30;
        }
      }
    }

    .marqueeC {
      @include position(absolute, auto, auto, 0, auto);
      transform: translateY(desktop-vw(-10px));

      .specC {
        align-items: center;
        display: flex;
        margin: 0 desktop-vw(40px);
      }

      h2 {
        align-items: center;
        color: var(--toasted-marshmallow-fluff);
        font-size: desktop-vw(30px);
        font-family: var(--font-grandstander);
        font-weight: 900;
        transform: translateY(desktop-vw(3px));
        display: inline-flex;
      }

      .iconC {
        @include dims(desktop-vw(32px));
        align-items: center;
        display: inline-flex;
        justify-content: center;
        margin-left: desktop-vw(20px);
      }
    }

    .popcornC {
      &.a {
        @include dims(desktop-vw(66px));
        @include position(absolute, desktop-vw(240px), auto, auto, desktop-vw(220px));
      }

      &.b {
        @include dims(desktop-vw(98px));
        @include position(absolute, desktop-vw(300px), auto, auto, desktop-vw(1100px));
      }

      &.c {
        @include dims(desktop-vw(38px));
        @include position(absolute, desktop-vw(500px), auto, auto, desktop-vw(1250px));
      }
    }
  }

  .why {
    align-items: center;
    background: var(--duqqa-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: desktop-vw(120px);
    position: relative;
    z-index: 100;

    h2 {
      color: var(--toasted-marshmallow-fluff);
      font-size: desktop-vw(120px);
      font-family: var(--font-grandstander);
      font-weight: 900;
      margin-bottom: desktop-vw(120px);
    }

    .reasons {
      align-items: flex-start;
      column-gap: desktop-vw(140px);
      display: flex;
      margin-bottom: desktop-vw(50px);

      & > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: desktop-vw(330px);

        h5 {
          color: var(--toasted-marshmallow-fluff);
          font-size: desktop-vw(40px);
          font-family: var(--font-grandstander);
          font-weight: 900;
          margin-bottom: desktop-vw(30px);
        }

        p {
          color: var(--net-worker);
          font-size: desktop-vw(16px);
          font-family: var(--font-grandstander);
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }

    .charC {
      @include dims(desktop-vw(300px), desktop-vw(220px));
      margin-top: desktop-vw(85px);
    }
  }

  .ingredients {
    align-items: center;
    background: var(--toasted-marshmallow-fluff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: desktop-vw(120px);

    h2 {
      color: var(--duqqa-brown);
      font-size: desktop-vw(120px);
      font-family: var(--font-grandstander);
      font-weight: 900;
      margin-bottom: desktop-vw(120px);
    }

    .specs {
      gap: desktop-vw(24px);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: desktop-vw(120px);
    }

    .realChocolate {
      .marqueeC {
        align-items: center;
        height: desktop-vw(150px);
        display: flex;

        &:nth-child(1) {
          background: var(--vanilla-cream);
          color: var(--duqqa-brown);
          transform: rotate(-8deg);
        }

        &:nth-child(2) {
          background: var(--passionate-purple);
          color: var(--porcellana);
          transform: rotate(4deg) translateY(-20%);
        }

        h3 {
          font-size: desktop-vw(70px);
          font-family: var(--font-grandstander);
          font-weight: 900;
          margin: 0 desktop-vw(50px);
          transform: translateY(10%);
        }

        .imgC {
          @include dims(desktop-vw(70px));
        }
      }
    }
  }

  .flavors {
    align-items: center;
    background: var(--toasted-marshmallow-fluff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: desktop-vw(120px);
    padding-top: desktop-vw(120px);

    h2 {
      color: var(--duqqa-brown);
      font-size: desktop-vw(66px);
      font-family: var(--font-grandstander);
      font-weight: 900;
      margin-bottom: desktop-vw(120px);
    }

    .boxes {
      align-items: flex-start;
      column-gap: desktop-vw(20px);
      display: flex;
      margin-bottom: desktop-vw(90px);
    }
  }
}
