.sliderProduct {
  @include dims(inherit);
  position: relative;

  .nextBtn,
  .prevBtn {
    @include dims(mobile-vw(45px));
    background: var(--pale-marigold);
    border-radius: 50%;
    border: 1px solid var(--duqqa-brown);

    .iconC {
      @include dims(mobile-vw(14px));
    }
  }
}
