.cardSpec {
  --card-height: #{desktop-vw(500px)};
  --card-width: #{desktop-vw(416px)};
  @include dims(var(--card-width), var(--card-height));
  border-radius: desktop-vw(50px);
  flex-shrink: 0;
  overflow: hidden;
  padding-top: desktop-vw(30px);
  position: relative;

  @include mobile {
    --card-height: #{mobile-vw(400px)};
    --card-width: #{mobile-vw(310px)};
    @include dims(var(--card-width), var(--card-height));
    border-radius: mobile-vw(25px);
    margin: 0 calc((100vw - var(--card-width)) / 2);
    padding-top: mobile-vw(30px);
  }

  > h5 {
    color: var(--duqqa-brown);
    font-family: var(--font-grandstander);
    font-weight: 900;
    line-height: 0.8;
    margin-bottom: auto;
    text-align: center;
    z-index: 100;

    &.sm {
      font-size: desktop-vw(56px);

      @include mobile {
        font-size: mobile-vw(40px);
      }
    }

    &.lg {
      font-size: desktop-vw(86px);

      @include mobile {
        font-size: mobile-vw(66px);
      }
    }
  }

  > .imgC {
    // @include dims(100%, desktop-vw(300px));
    // margin-top: auto;
    @include position(absolute, 0, 0, 0, 0);
    z-index: 50;
  }

  > .iconC {
    @include position(absolute, auto, auto, desktop-vw(12px), desktop-vw(12px));
    @include dims(desktop-vw(90px));
    margin-top: auto;
    z-index: 100;

    @include mobile {
      @include position(absolute, auto, auto, mobile-vw(12px), mobile-vw(12px));
      @include dims(mobile-vw(80px));
    }
  }
}
