.cardSpec {
  --card-height: #{desktop-vw(500px)};
  --card-width: #{desktop-vw(416px)};
  @include dims(var(--card-width), var(--card-height));
  align-items: center;
  border-radius: desktop-vw(50px);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: desktop-vw(30px);
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(white, black);

  @include mobile {
    --card-height: #{mobile-vw(400px)};
    --card-width: #{mobile-vw(310px)};
    @include dims(var(--card-width), var(--card-height));
    border-radius: mobile-vw(25px);
    margin: 0 calc((100vw - var(--card-width)) / 2);
    padding-top: mobile-vw(30px);
  }

  > p {
    color: var(--duqqa-brown);
    display: block;
    font-family: var(--font-grandstander);
    font-weight: 900;
    line-height: 0.8;
    text-align: center;
    transform: translateZ(200px);
    z-index: 200;

    &.sm {
      font-size: desktop-vw(56px);

      @include mobile {
        font-size: mobile-vw(40px);
      }
    }

    &.lg {
      font-size: desktop-vw(86px);

      @include mobile {
        font-size: mobile-vw(66px);
      }
    }
  }

  > .bgMediaC {
    @include position(absolute, 0, 0, 0, 0);
    display: block;
    transform: translateZ(100px);
    z-index: 100;
  }

  > .iconC {
    @include position(absolute, auto, auto, desktop-vw(12px), desktop-vw(12px));
    @include dims(desktop-vw(90px));
    margin-top: auto;
    transform: translateZ(200px);
    z-index: 200;

    @include mobile {
      @include position(absolute, auto, auto, mobile-vw(12px), mobile-vw(12px));
      @include dims(mobile-vw(80px));
    }
  }
}
