.callToContact {
  align-items: center;
  background: var(--duqqa-brown);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: desktop-vw(100px);
  position: relative;

  @include mobile {
    background-size: 400% auto;
    padding-top: mobile-vw(25px);
  }

  &::before {
    content: "";
    @include position(absolute, 2px, 0, auto, 0);
    @include dims(100%, desktop-vw(120px));
    background-image: url("../../assets/img/wave.svg");
    background-repeat: no-repeat;
    background-position: center bottom -2px;
    background-size: 100% auto;
    transform: translateY(-100%);

    @include mobile {
      @include dims(100%, auto);
      background-position: center bottom -2px;
      background-size: 400% auto;
      padding-bottom: mobile-vw(150px);
    }
  }

  > h2 {
    color: var(--toasted-marshmallow-fluff);
    font-size: desktop-vw(80px);
    font-family: var(--font-grandstander);
    font-weight: 900;
    margin-bottom: desktop-vw(30px);
    text-align: center;
    width: desktop-vw(660px);

    @include mobile {
      font-size: mobile-vw(50px);
      line-height: 1.1;
      margin-bottom: mobile-vw(50px);
      width: mobile-vw(360px);
    }
  }

  > p {
    color: var(--toasted-marshmallow-fluff);
    font-size: desktop-vw(26px);
    font-family: var(--font-grandstander);
    font-weight: 400;
    margin-bottom: desktop-vw(50px);
    text-align: center;

    @include mobile {
      font-size: mobile-vw(20px);
      line-height: 1.5;
      margin-bottom: mobile-vw(50px);
    }
  }

  .imgs {
    align-items: center;
    display: flex;
    margin-bottom: desktop-vw(-100px);
    margin-top: desktop-vw(100px);

    @include mobile {
      margin-bottom: mobile-vw(-75px);
      margin-top: mobile-vw(50px);
    }

    > .imgC {
      margin: 0 desktop-vw(-35px);

      @include mobile {
        margin: unset;
      }

      &:nth-child(1) {
        @include dims(desktop-vw(450px));
        margin-right: desktop-vw(5px);

        @include mobile {
          display: none;
        }
      }

      &:nth-child(2) {
        @include dims(desktop-vw(350px));
        margin-bottom: desktop-vw(-120px);

        @include mobile {
          @include dims(mobile-vw(320px));
          margin-bottom: unset;
          margin-left: unset;
        }
      }

      &:nth-child(3) {
        @include dims(desktop-vw(375px));

        @include mobile {
          display: none;
        }
      }
    }
  }

  .crumbC {
    &.a {
      @include position(absolute, desktop-vw(840px), auto, auto, desktop-vw(1200px));
      @include dims(desktop-vw(160px));

      @include mobile {
        display: none;
      }
    }

    &.b {
      @include position(absolute, desktop-vw(820px), auto, auto, desktop-vw(140px));
      @include dims(desktop-vw(150px));

      @include mobile {
        display: none;
      }
    }

    &.c {
      @include position(absolute, desktop-vw(700px), auto, auto, desktop-vw(520px));
      @include dims(desktop-vw(140px));

      @include mobile {
        display: none;
      }
    }
  }
}
