.callToContact {
  align-items: center;
  background: var(--duqqa-brown);
  background-image: url("../../assets/img/wave-light.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: desktop-vw(220px);
  position: relative;

  > h2 {
    color: var(--toasted-marshmallow-fluff);
    font-size: desktop-vw(80px);
    font-family: var(--font-grandstander);
    font-weight: 900;
    margin-bottom: desktop-vw(30px);
    text-align: center;
    width: desktop-vw(660px);
  }

  > p {
    color: var(--toasted-marshmallow-fluff);
    font-size: desktop-vw(26px);
    font-family: var(--font-grandstander);
    font-weight: 400;
    margin-bottom: desktop-vw(50px);
  }

  .imgs {
    align-items: center;
    display: flex;
    margin-bottom: desktop-vw(-100px);
    margin-top: desktop-vw(100px);

    @include mobile {
      flex-direction: column;
    }

    > .imgC {
      margin: 0 desktop-vw(-35px);

      @include mobile {
        margin: mobile-vw(-50px) 0;
      }

      &:nth-child(1) {
        @include dims(desktop-vw(450px));
        margin-right: desktop-vw(5px);

        @include mobile {
          margin-right: mobile-vw(150px);
          width: mobile-vw(200px);
        }
      }

      &:nth-child(2) {
        @include dims(desktop-vw(350px));
        margin-bottom: desktop-vw(-120px);

        @include mobile {
          margin-bottom: 0;
          margin-left: mobile-vw(140px);
          width: mobile-vw(160px);
        }
      }

      &:nth-child(3) {
        @include dims(desktop-vw(375px));

        @include mobile {
          margin-right: mobile-vw(100px);
          width: mobile-vw(150px);
        }
      }
    }
  }
}
