header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  padding: 0 desktop-vw(50px);
  position: relative;
  z-index: z-index("header");

  .imgC {
    @include position(absolute, 50%, auto, auto, 50%);
    height: desktop-vw(67px);
    transform: translate(-50%, -40%);
    width: desktop-vw(216px);
  }

  nav {
    width: 100%;
    align-items: center;
    column-gap: desktop-vw(180px);
    display: flex;
    justify-content: space-between;

    .navItem {
      font-family: var(--font-grandstander);
      font-size: desktop-vw(20px);
      font-weight: 500;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
