header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  padding: 0 desktop-vw(50px);
  position: relative;
  z-index: z-index("header");

  @include mobile {
    justify-content: space-between;
    padding: 0 mobile-vw(20px);
  }

  .logoC {
    @include position(absolute, 50%, auto, auto, 50%);
    @include dims(desktop-vw(216px), desktop-vw(67px));
    transform: translate(-50%, -40%);

    @include mobile {
      @include dims(mobile-vw(150px), mobile-vw(50px));
      @include position(relative, auto, auto, auto, auto);
      transform: unset;
    }
  }

  .navDesktop {
    align-items: center;
    column-gap: desktop-vw(180px);
    display: flex;
    justify-content: space-between;
    width: 100%;

    .navItem {
      color: var(--duqqa-brown);
      font-family: var(--font-grandstander);
      font-size: desktop-vw(20px);
      font-weight: 500;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
