footer {
  padding: 0 desktop-vw(50px);
  position: relative;
  z-index: z-index("footer");

  @include mobile {
    padding: 0 mobile-vw(20px);
  }

  .top {
    @include dims(auto, desktop-vw(220px));
    display: flex;

    @include mobile {
      @include dims(auto);
      margin-bottom: mobile-vw(-25px);
      margin-top: mobile-vw(100px);
    }

    .scrollToTop {
      @include dims(desktop-vw(36px));
      border-radius: desktop-vw(10px);
      border: 1px solid var(--duqqa-brown);
      margin-bottom: desktop-vw(20px);
      margin-top: auto;
      margin-left: auto;

      @include mobile {
        @include dims(mobile-vw(36px));
        border-radius: mobile-vw(10px);
        margin-bottom: mobile-vw(20px);
      }

      .iconC {
        @include dims(desktop-vw(12px));

        @include mobile {
          @include dims(mobile-vw(12px));
        }
      }
    }
  }

  .bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: desktop-vw(40px) 0;
    position: relative;

    @include mobile {
      flex-direction: column;
      padding: mobile-vw(40px) 0;
    }

    nav {
      align-items: center;
      display: flex;

      @include mobile {
        flex-direction: column;
        margin-bottom: mobile-vw(100px);
        row-gap: mobile-vw(20px);
      }

      .navItem {
        color: var(--duqqa-brown);
        font-size: desktop-vw(16px);
        font-family: var(--font-grandstander);
        font-weight: 400;

        @include mobile {
          font-size: mobile-vw(24px);
        }
      }

      .separator {
        margin: 0 desktop-vw(4px);

        @include mobile {
          display: none;
        }
      }
    }

    .imgC {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(desktop-vw(85px));
      transform: translate(-50%, -70%);

      @include mobile {
        @include position(relative, auto, auto, auto, auto);
        @include dims(mobile-vw(85px));
        transform: unset;
        margin-bottom: mobile-vw(50px);
      }
    }

    .copyright {
      color: var(--duqqa-brown);
      font-size: desktop-vw(16px);
      font-family: var(--font-grandstander);
      font-weight: 400;

      @include mobile {
        font-size: mobile-vw(16px);
      }
    }
  }
}
