.separatorWave {
  @include dims(100%, desktop-vw(200px));
  background: url("../../assets/img/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;

  @include mobile {
    @include dims(100%, auto);
    background-size: 330% auto;
    padding-bottom: mobile-vw(150px);
  }
}
