figure {
  @include dims(100%);
  position: relative;

  img {
    @include dims(100%);
    display: block;
    left: auto;
    max-width: 100%;
    position: relative;
    top: auto;
    transform: scale(1.01);
    z-index: z-index("img");
  }

  &.lazy {
    img {
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .aspectRatio {
    padding-top: var(--aspectRatio);
  }
}
