.allProducts {
  padding: desktop-vw(100px) unset;
  margin-top: desktop-vw(50px);

  .filterC {
    display: flex;
    column-gap: desktop-vw(30px);
    padding: 0 desktop-vw(50px);
  }

  .productsList {
    display: grid;
    gap: desktop-vw(22px);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: desktop-vw(80px) 0;
  }
}
