.boom {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  pointer-events: none;
  z-index: 10;

  .cakeC {
    @include position(absolute, 50%, auto, auto, 50%);
    @include dims(desktop-vw(500px));
    transform: translate(-50%, -50%);

    .cake {
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(100%);
      transform: translate(-50%, -50%);
      z-index: 1000;
      opacity: 0;

      &.active {
        opacity: 1;
      }

      @include mobile {
        @include dims(mobile-vw(300px));
      }
    }
  }

  .textC {
    position: relative;
    transform: rotate(-5deg);

    @include mobile {
      margin-bottom: mobile-vw(50px);
    }

    > .text {
      color: var(--duqqa-brown);
      display: block;
      font-family: var(--font-grandstander);
      font-size: desktop-vw(150px);
      font-weight: 900;
      margin-bottom: desktop-vw(-20px);
      position: relative;
      text-align: center;

      @include mobile {
        font-size: mobile-vw(50px);
        line-height: 0.8;
        margin-bottom: 0;
      }

      > .imgC {
        @include dims(desktop-vw(600px), desktop-vw(260px));
        display: inline-block;
        margin-bottom: desktop-vw(-55px);
        margin-left: desktop-vw(-40px);
        position: relative;
        transform: rotate(5deg);
        z-index: 100;

        @include mobile {
          @include dims(mobile-vw(200px), auto);
          margin-bottom: mobile-vw(-14px);
          margin-left: mobile-vw(-14px);
        }
      }
    }
  }
}
